<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>servlet-app</display-name>
  
  <!-- 
  This is application specific 
  and added into the application scope so all these parameter will be accessible by all the servlets
   -->
  <context-param>
  		<param-name>email</param-name>
  		  <param-value>javahunk100@gmail.com</param-value>
  </context-param>
  
  <listener>
 			<listener-class>com.servlet.listener.AppGreetListener</listener-class>
  </listener>
  
  <filter>
  		 <filter-name>welcome</filter-name>
  		<filter-class>com.filter.WelcomeFilter</filter-class>
  </filter>
  <filter-mapping>
  		<filter-name>welcome</filter-name>
  	     <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
  			 <servlet-name>wwelcome</servlet-name>
  			<servlet-class>com.servlet.FileReaderServlet</servlet-class>
  			  <init-param>
  			  		<param-name>fileName</param-name>
  			  		 <param-value>welcome.txt</param-value>
  			  </init-param>	
  			  <init-param>
  			  		<param-name>color</param-name>
  			  		 <param-value>pink</param-value>
  			  </init-param>	
  </servlet>
  <servlet-mapping>
  			<servlet-name>wwelcome</servlet-name>
  			 <url-pattern>/wwelcome</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>